/tests/test

/src/htmldocs/

/www/assets/
/www/docs/simulator/index.min.js
/www/docs/native/
/www/docs/web/
/www/marathon/index.min.js
/www/index.min.js
/www/worker.min.js

/pon2
/pon2.exe

/benchmark/*
!/benchmark/*.nim*

/assets/pairs/generate
