name: Deploy Web Pages

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - "dev"
    tags:
      - "v*.*.*"

  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2-${{ hashFiles('*.nimble') }}
          restore-keys: |
            ${{ runner.os }}-nimble-v2-
        if: runner.os != 'Windows'
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: '2.2.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: echo "DIR_NAME=${{ github.ref_name }}" >> $GITHUB_ENV
        if: github.ref_type != 'tag'

      - run: |-
          DIR_NAME=$(echo "${{ github.ref_name }}" | sed 's/^v//' | cut -d. -f1-2)
          echo "DIR_NAME=${{ github.ref_name }}" >> $GITHUB_ENV
        if: github.ref_type == 'tag'

      - run: nimble -y -d:pon2.path="/pon2/${{ env.DIR_NAME }}/studio/" page

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: pages
          target-folder: ${{ env.DIR_NAME }}

      - run: nimble -y page
        if: github.ref_type == 'tag'

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: pages
          target-folder: stable
        if: github.ref_type == 'tag'
