name: Publish Release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

  workflow_dispatch:

jobs:
  release-build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2-${{ hashFiles('*.nimble') }}
          restore-keys: |
            ${{ runner.os }}-nimble-v2-
        if: runner.os != 'Windows'
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: "2.2.x"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: nimble -y install -p:"-d:danger"

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}
          path: ./pon2.exe
        if: runner.os == 'Windows'
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}
          path: ./pon2
        if: runner.os != 'Windows'

  release-publish:
    needs:
      - release-build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v5

      - run: |-
          zip -rv Linux.zip ./Linux
          zip -rv Windows.zip ./Windows
          zip -rv macOS.zip ./macOS

      - uses: softprops/action-gh-release@v2
        with:
          files: |-
            ./Linux.zip
            ./Windows.zip
            ./macOS.zip
          generate_release_notes: true
