name: Run Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  push:
    branches-ignore:
      - "main"
      - "dev"
      - "gh-pages"

  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2-${{ hashFiles('*.nimble') }}
          restore-keys: |
            ${{ runner.os }}-nimble-v2-
        if: runner.os != 'Windows'
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: "2.2.x"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: nimble -y test
        if: runner.os != 'macOS'

      - run: nimble -y -d:pon2.testcpp=false test
        if: runner.os == 'macOS'
