name: Deploy Web Pages

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - "dev"
    tags:
      - "v*.*.*"

  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2-${{ hashFiles('*.nimble') }}
          restore-keys: |
            ${{ runner.os }}-nimble-v2-
        if: runner.os != 'Windows'
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: '2.2.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: |-
          if [[ "${{ github.ref_type }}" == 'tag' ]]; then
            DIR_NAME=$(echo "${{ github.ref_name }}" | sed 's/^v//' | cut -d. -f1-2)
          else:
            DIR_NAME="${{ github.ref_name }}"
          fi
          echo "DIR_NAME=$DIR_NAME" >> $GITHUB_ENV
          nimble -y -d:pon2.path="/pon2/$DIR_NAME" www

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: www
          target-folder: ${{ env.DIR_NAME }}

      - run: nimble -y www
        if: github.ref_type == 'tag'
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: www
          target-folder: stable
        if: github.ref_type == 'tag'
