name: Deploy Web Pages

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - "dev"
    tags:
      - "v*.*.*"

  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2-${{ hashFiles('*.nimble') }}
          restore-keys: |
            ${{ runner.os }}-nimble-v2-
        if: runner.os != 'Windows'
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: '2.2.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: |-
          nimble -y www
          mkdir ROOT
          mv www ROOT/${{ github.ref_name }}

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ROOT
          clean: false
